.nav-bar {
  display: flex;
  width: 100%;
  gap: 2.5%;
  align-items: center;
  border-bottom: 1vh solid #b1b1be;
}

.logo {
  max-width: 2rem;
}

.wrapper {
  display: flex;
  min-width: 360px;
}

.side-bar {
  display: flex;
  height: 100%;
  width: 40%;
  flex-flow: row wrap;
  row-gap: 0.5vh;
  padding-top: 2.5%;
  padding-right: 5%;
}

.side-bar a {
  
}

.dashboard {
    border-left: 1vh solid #b1b1be;
    padding-left: 10%;
    max-width: 100%;
}

.line-break {
  width: 100%;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1vh;
  margin-bottom: 4vh;
}

/* Individual Items */

.list-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  column-gap: 3vh;
  width: 100%;
}

.item-list a {
  max-width: 50%;
  min-width: 60%;
}

.checkbox-scaling {
  transform: scale(1.5);
  margin-right: 5%;
}

.delete-button {
  transform: scale(1.25);
  margin-right: auto;
}

.add-button {
  margin-top: 2vh;
  margin-left: 2vh;
}

.add-input {
  margin-top: 2vh;
  max-width: 50%;
}

.footer {
  padding-top: 2vh;
  border-top: #b1b1be 1vh solid;
}

@media screen and (max-width: 400px) {
  .side-bar {
    display: none;
  }
  .dashboard {
    border-left: none;
  }
}
